.subtitle {
    font-size: clamp(16px, 1.5vw, 22px);
    font-weight: 500;
    color: var(--theme-color);
    line-height: normal;
    display: inline-block;
}

.section-title h2,
.section-title h3 {
    font-size: clamp(30px, 2.5vw, 40px);
    font-weight: 700;
    line-height: normal;
    color: var(--theme-dark-bg-color);
}

.section-title h3 {
    font-size: clamp(28px, 2.2vw, 36px);
}

.section-title p {
    font-size: clamp(16px, 1.5vw, 20px);
    font-weight: 400;
    color: var(--theme-dark-bg-color);
    line-height: normal;
}

.section-title .cm-button {
    color: var(--theme-dark-bg-color);
}

.cm-button {
    width: auto;
    height: auto;
    padding: 10px 30px;
    border-radius: 4px;
    display: inline-block;
    border: 2px solid var(--theme-color);
    color: var(--theme-dark-bg-color);
    font-weight: 500;
    font-size: clamp(16px, 1.5vw, 18px);
}

.cm-button:hover {
    background-color: var(--theme-color);
    color: var(--white-color) !important;
}

.pt {
    padding-top: clamp(50px, 4.5vw, 70px);
}

.pb {
    padding-bottom: clamp(50px, 4.5vw, 70px);
}

.py {
    padding: clamp(50px, 4.5vw, 70px) 0px;
}

.mt {
    margin-top: clamp(50px, 4.5vw, 70px);
}

.mb {
    margin-bottom: clamp(50px, 4.5vw, 70px);
}

.section-bg-gray{
    background-color: #f0f0f0;
}