header.header {
    position: relative;
}

header .header-wrapper {
    width: 100%;
    background: #fff;
    padding: 10px 0px;
    background-color: var(--black-color);
}

button.toggle-button svg,
button.toggle-button {
    background-color: transparent;
    font-size: 22px;
    color: var(--white-color);
    display: none;
}

/* Nav Bar css for mobile view */
 