@media screen and (max-width:991px) {
    .banner-wrapper .banner-video video {
        height: 65vh;
        min-height: 65vh;
        max-height: 65vh;
    }

    /* Class add on navbar for show menus */
    navbar.navbar.show-menu .menu {
        right: 0px;
    }

    navbar.navbar.show-menu ul.menu .offcanvas-overlay {
        left: 0px;
    }

    /* end */
    button.toggle-button svg,
    button.toggle-button {
        display: block;
    }

    navbar.navbar .menu {
        position: fixed;
        top: 0px;
        right: -100%;
        background: #000;
        padding: 20px;
        height: 100vh;
        width: calc(100% - 40%);
        transition: var(--transition);
        z-index: 11;
    }

    navbar.navbar ul.menu {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 30px
    }

    navbar.navbar ul.menu .offcanvas-overlay {
        position: fixed;
        height: 100vh;
        left: -100%;
        top: 0px;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: -11;
        transition: var(--transition);
    }
}

@media screen and (max-width:767px) {
    navbar.navbar.show-menu .menu {
        width: 100%;
    }

    .banner-wrapper .banner-video video {
        height: 65vh;
        min-height: 65vh;
        max-height: 65vh;
    }
}