@import url('./header.css');
@import url('./navbar.css');
@import url('./variables.css');
@import url('./common.css');

body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    background-color: var(--white-color);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul {
    list-style: none;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
}

/* Common Layout css */
.container {
    max-width: 1400px;
}

/* Banner css */
.banner-wrapper .banner-video video {
    height: calc(100vh - 90px);
    min-height: calc(100vh - 90px);
    max-height: calc(100vh - 90px);
    width: 100%;
    object-fit: cover;
}

.whoweare-content p {
    margin-top: 18px;
}

.whoweare-content a {
    margin-top: 30px;
}

.whoweare-image {
    overflow: hidden;
}

.whoweare-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: var(--transition);
}

.whoweare-image:hover img {
    transform: scale(1.3) rotate(-4deg);
}

/* Skills Counter section */

.skills-counter-wrapper {
    background-color: var(--light-black-color);
}

.skills-counter-wrapper .card {
    background-color: transparent;
    transition: var(--transition);
    overflow: hidden;
}

.skills-counter-wrapper .card h3 {
    color: var(--white-color);
    transition: var(--transition);
}

.skills-counter-wrapper .card:hover {
    transform: translateY(-20px);
    border-color: var(--theme-color) !important;
    box-shadow: 0px 30px 127px 40px inset var(--theme-color);
}

.skills-counter-wrapper .card p {
    color: var(--secondary-text-color);
}

/* Portfolio slider css */
.slider-wrapper .slider-card .card-content .portfolio-dec {
    color: var(--theme-dark-bg) !important;
    font-weight: 500;
}

.slider-wrapper .slider-card .card-content .technology-item li img {
    filter: invert(1);
}

.slider-wrapper .slider-card .card-content .technology-item li {
    box-shadow: -5px 5px 8px #ccc;
    padding: 6px;
    border-radius: 4px;
    transition: var(--transition);
}

.slider-wrapper .slider-card .card-content .technology-item li:hover {
    transform: scale(1.2);
}

.slider-wrapper .slick-slider>button {
    background: var(--theme-color);
    height: 35px;
    width: 35px;
    z-index: 1;
    border-radius: 50px;
}

.slider-wrapper .slick-slider>button.slick-prev:before,
.slider-wrapper .slick-slider>button.slick-next:before {
    content: "\f060";
    font-size: 16px;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
}

.slider-wrapper .slick-slider>button.slick-prev {
    left: 5px;
    top: 50%;
}

.slider-wrapper .slick-slider>button.slick-next {
    right: 5px;
    top: 50%;
}

.slider-wrapper .slick-slider>button.slick-next:before {
    content: "\f061";
}

/* Dots Css */
.slider-wrapper .slick-slider ul.slick-dots {
    display: flex !important;
    flex-wrap: wrap;
    column-gap: 8px;
    justify-content: center;
}

.slider-wrapper .slick-slider ul.slick-dots li {
    margin: 0;
    height: 6px;
    width: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    transition: var(--transition);
}

.slider-wrapper .slick-slider ul.slick-dots li.slick-active {
    width: 52px;
}

.slider-wrapper .slick-slider ul.slick-dots li.slick-active::after {
    content: '';
    position: absolute;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: red;
    animation: lineAnimation 10s ease infinite backwards;
}

@keyframes lineAnimation {
    0% {
        left: 0%;
        background-color: var(--theme-color);
        opacity: 0.6;
    }

    50% {
        left: 100%;
        background-color: var(--danger-color);
    }

    100% {
        left: -100%;
    }
}

.slider-wrapper .slick-slider ul.slick-dots li button {
    display: none;
}