@import url('./header.css');
@import url('./navbar.css');
@import url('./variables.css');
@import url('./common.css');

body {
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul {
    list-style: none;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
}

/* Common Layout css */
.container {
    max-width: 1400px;
}

/* Banner css */
.banner-wrapper .banner-video video {
    height: calc(100vh - 90px);
    min-height: calc(100vh - 90px);
    max-height: calc(100vh - 90px);
    width: 100%;
    object-fit: cover;
}

.whoweare-content p {
    margin-top: 18px;
}

.whoweare-content a {
    margin-top: 30px;
}

.whoweare-image {
    overflow: hidden;
}

.whoweare-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: var(--transition);
}

.whoweare-image:hover img {
    transform: scale(1.3) rotate(-4deg);
}

/* Skills Counter section */

.skills-counter-wrapper {
    background-color: var(--light-black-color);
}

.skills-counter-wrapper .card {
    background-color: transparent;
}

.skills-counter-wrapper .card h3 {
    color: var(--white-color);
}

.skills-counter-wrapper .card p {
    color: var(--secondary-text-color);
}