:root {
    --theme-color: #3F30FF;
    --primary-color: #FFB300;
    --secondary-color: #555;
    --black-color: #000;
    --white-color: #fff;
    --theme-dark-bg-color: #1E1E1E;
    --border-color: #C0C0C0;
    --secondary-text-color: #c0c0c0;
    --light-black-color: #121212;
    --transition: 0.3s ease;
}