:root {
    --theme-color: #3F30FF;
    --primary-color: #FFB300;
    --secondary-color:#555;
    --black-color:#000;
    --white-color:#fff;
    --them-dark-bg-color:#13111A;

    --transition:0.3s ease;
}