:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



/* Dark Mode Css */
body.dark-mode h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
button {
  color: var(--white-color);
  transition: var(--transition);
}

body.dark-mode {
  background-color: var(--theme-dark-bg-color);
}

body.dark-mode navbar.navbar ul li.active {
  color: var(--theme-color);
}

body.dark-mode navbar.navbar ul li:hover a {
  color: var(--theme-color);
}

body.dark-mode header .header-wrapper {
  background-color: var(--black-color);
  transition: var(--transition);
}

/* Exclude links inside the header from the color change */
body.dark-mode header a:not(.no-dark-theme) {
  color: inherit !important;
  transition: var(--transition);
}

/* Exclude buttons with the class '.no-dark-theme' */
body.dark-mode button:not(.no-dark-theme) {
  color: inherit !important;
  transition: var(--transition);
}

/* Apply light background when not in dark mode */
body:not(.dark-mode) header .header-wrapper {
  transition: var(--transition);
}

/* Section title */
body.dark-mode .section-title h2,
body.dark-mode .section-title h3,
body.dark-mode .whoweare-content a {
  color: var(--white-color);
}

body.dark-mode .section-title p {
  color: var(--secondary-text-color);
}

body.dark-mode .section-bg-mode {
  background-color: var(--black-color);
}

body.dark-mode .section-bg-gray {
  background-color: var(--theme-dark-bg-color);
}